@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px; /* slight scale-up for better readability on mobile */
}

:root {
  color-scheme: dark;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-surface-900 text-white font-mono;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  @apply bg-surface-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-600 rounded-full;
}
